/* Overall container for the login page */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    /*background-color: orange; !* Soft background color *!*/
    backface-visibility: hidden;
    margin: 0; /* Remove default margin */
}

/* Styling for the button that navigates to the homepage */
.home-button-wrapper {
    margin-bottom: 20px; /* Space between the button and the login form */
}

.home-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #45a049;
}

/* Auth page styling */
.auth-page {
    background-color: white; /* Keep the login form background white */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto; /* Center the auth page */
}

/* Form links styling */
.auth-links {
    margin-top: 20px;
    text-align: center;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}

.forgot-password a {
    color: #1D70B8;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
